<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Transactions</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<style>
			* {
				font-family: 'Roboto', sans-serif;
			}
			
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
			
			th {
				padding: 15px;
			}
		</style>
	</head>
    <body>
		<div>
            #foreach( $day in $se.getDays() )
                <h3>$day</h3>

                <table>
                    <tr>
                        <th>Symbol</th>
                        <th>Trades</th>
                        <th>Open price</th>
                        <th>Close price</th>
                        <th>Lowest</th>
                        <th>Highest</th>
                        <th>Volume</th>
                        <th>Total value</th>
                    </tr>
                    #set( $index = $se.fetchIndexByDate($day) )

                    <tr>
                        <td>Index</td>
						<td>N/A</td>
						<td>$index.openPrice()</td>
						<td>$index.closePrice()</td>
						<td>$index.lowest()</td>
						<td>$index.highest()</td>
						<td>N/A</td>
						<td>N/A</td>
                    </tr>


                #foreach( $symbol in $se.getSymbols() )
                    #set( $agg = $se.fetchTransactions($symbol, $day) )

                    <tr>
                    #if ( $agg.tradeCount() > 0 )
                        <td>$symbol.getSymbol()</td>
						<td>$agg.tradeCount()</td>
						<td>$agg.openPrice()</td>
						<td>$agg.closePrice()</td>
						<td>$agg.lowest()</td>
						<td>$agg.highest()</td>
						<td>$agg.totalVolume()</td>
						<td>$agg.totalValue()</td>
                    #else
                        <td>$symbol.getSymbol()</td>
						<td>$agg.tradeCount()</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    #end
					</tr>
                #end
                </table>
            #end
		</div>
		
    </body>
</html>